<html ng-app="clearingApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>吃饭给钱</title>
    <link href="/clearing/static/css/creator.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="clearingCtrl">

<h1>添加菜单</h1>

<h3>1.总金额</h3>
<input type="text" ng-model="order.total_money">


<h3>2.付款人</h3>
<div ng-repeat="member in member_list" >
    <input name="payer" type="radio" class="radio" ng-model="payer_id">{{member.name}}<br/>
</div>


<h3>3、订单详情</h3>
<div class="account_div">
    <div id="title">
        <span style="">人员</span>
        <span style="margin-left: 30px;">金额</span>
        <span style="margin-left: 140px;">备注</span>
    </div>
    <div class="row tablebody" ng-repeat="member in member_list">
        {{member.name}}
        <input type="text" ng-model="member.money">
        <input tpye="text" ng-model="member.note">
    </div>
</div>



<!--执行表单数据检查，无误则显示下面的提交订单按钮-->
<button ng-click="confirm_order()">保存订单信息</button><br/>






<h1>历史记录</h1>
<button ng-show="confirm" ng-click="show_order()">提交订单</button><br/>

<script src="./js/angular.js"></script>
<script src="./js/controllers.js"></script>
</body>
</html>